.itemContent {    
    float: left;
    margin-left: 5px;
}

.padre {
    display: flex;
    justify-content: center;
}

.hijo {
    display: inline-block;
}

.btn-nav {
    margin-right: 10px;
}

.gradient {
    background: -webkit-linear-gradient(left, rgb(0, 255, 85) , blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgb(0, 255, 85), blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgb(0, 255, 85), blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgb(0, 255, 85) , blue); /* Standard syntax */
}

.divLeyLoc{
    position:absolute;
    top:13px;
    width:215px;
    height:410px;
    padding-right:10px;
    margin-right:10px;
    text-align:left;
    font: bold 10px/14px sans-serif;
    color: #835B21;
    background-color:transparent;
    }
    
.contenedor {
    postion:reative;
    witch: 100%;
    height:500px;
}